.quizCard {
  flex: 1 1 280px;
  max-width: 290px;
  padding: 10px 0;
  background: #fff;
  font-family: 'poppins';
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.orange {
  color: rgb(255, 128, 0);
}

.lightblue {
  color: rgb(46, 123, 210);
}

.green {
  color: rgb(6, 176, 6);
}

.cardContent {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.quizCard p {
  font-size: 3rem;
}

.quizCard span {
  font-size: 1.8rem;
}