.quizInterfaceContainer {
    background: #041325;
    height: 100vh;
    width: 100vw;
    padding: 5rem;
    font-family: 'poppins';
    font-weight: 700;
    color: #474444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizPlayArea {
    width: 100%;
    background: #fff;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.questionCountAndTimer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.questionCountAndTimer>p {
    font-size: 1.5rem;
}
.secondsLeft {
    color: #D60000;
}
.questionOptionArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.optionArea {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.individualOptionText {
    width: 250px;
    height: 100px;
    padding: 0.5rem;
    border-radius: 10px;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualOptionImage {
    background: #F0F0F0;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.individualOptionImage>img {
    width: 100%;
    height: 100%;
}

.submitBtn {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.selected {
    border: 4px solid rgb(8, 241, 24);
}
.submitBtn>button {
    padding: 0.5rem 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'poppins';
    background: #60B84B;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.individualOptionTextAndImage {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: #F0F0F0;
    padding: 0.5rem;
    width: 250px;
    height: 100px;
    border-radius: 5px;
}

.individualOptionTextAndImage>div {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.individualOptionTextAndImage>p {
    width: 50%;
}

.individualOptionTextAndImage img {
    width: 100%;
    height: 100%;
}