.iconCell {
  display: flex;
  align-items: center;
  gap: 10px;
}



.analysisToReview {
  text-decoration: underline;
  cursor: pointer;
}

table td:first-child {
  border-radius: 10px 0 0 10px;
}

table td:last-child {
  border-radius: 0 10px 10px 0;
}

.sweetAlertContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}